.App {
  text-align: center;
}
.readable-nav-btns {
  padding: 0 2px;
}
.readable-home-body {
  padding: 20px 0;
}
.readable-list-group {
  padding: 5px 0;
}
.readable-post-score-btns {
  padding: 0 2px;
}
.readable-form-action-btns {
  padding: 0 2px;
}
